@model GymApp.Models.ViewModels.EditProfileViewModel


@{
    ViewData["Title"] = "Moje konto";
}

@{
    string section = ViewData["Section"] as string ?? "account";
}



<div class="container-fluid mt-5 pt-5">
    <div class="row">

        <!-- ================= SIDEBAR ================= -->
        <ul class="nav flex-column profile-sidebar col-2 col-md-3 col-lg-3 col-lg-2 pt-5">

            <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="account"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "account" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-person me-2 fs-3"></i>
                    <span class="d-none d-md-inline ms-2">Moje Konto</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="passes"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "passes" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-credit-card me-2 fs-3"></i>
                    <span class="d-none d-md-inline ms-2">Karnety</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="personal"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "personal" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-heart-pulse me-2 fs-3 fs-md-5"></i>
                    <span class="d-none d-md-inline ms-2">Treningi Personalne</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="classes"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "classes" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-people me-2 fs-3 fs-md-5"></i>
                    <span class="d-none d-md-inline ms-2">Zajęcia grupowe</span>
                </a>
            </li>



             <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="reservarions"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "reservarions" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-journal-text me-2 fs-3 fs-md-5"></i>
                    <span class="d-none d-md-inline ms-2">Moje rezerwacje</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-section="packs"
                    class="nav-link rounded text-white d-flex align-items-center @(section == "packs" ? "bg-primary fw-bold rounded" : "")">
                    <i class="bi bi-box-seam me-2 fs-3 fs-md-5"></i>
                    <span class="d-none d-md-inline ms-2 ">Pakiety</span>
                </a>
            </li>
        </ul>


        <div class="col-10 col-md-9 col-lg-9 bg-black text-light p-2 p-md-3 p-xl-5">

            @switch (ViewData["Section"]?.ToString())
            {
                case "passes":
                    @await Html.PartialAsync("_Passes")
                    break;

                case "classes":
                    @await Html.PartialAsync("_Classes")
                    break;

                case "personal":
                    @await Html.PartialAsync("_PersonalTrainings")
                    break;

                case "reservarions":
                    @await Html.PartialAsync("_Reservations")
                    break;

                case "packs":
                    @await Html.PartialAsync("_Packs")
                    break;

                case "password":
                    @await Html.PartialAsync("_ChangePassword", new ChangePasswordViewModel())
                    break;

                default:
                    @await Html.PartialAsync("_MyAccount", Model)
                    break;
            }

        </div>

    </div>
</div>